@model List<Let_s_Eat_Bee_Project.Models.Order>

<div class="block-order">
    <div class="container">
        <h3>Your account</h3>
        <hr />
        <h5>Your orders</h5>

        <div class="row">

          @for (int i = (ViewBag.Page - 1) * 6; i < Model.Count && i < (ViewBag.Page * 6) - 3; i++)
          {
            <div class="col s12 m4">
                <div class="card #4a148c purple darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">@Model[i].CreationDateTime</span>
                        <p>Address: @Model[i].Address </p>
                        <p>Description: @Model[i].Joinings.First().Text</p>
                    </div>
                    <div class="card-action">
                        <div class="row no-margins">
                            <div class="col m4 s12">
                                @Html.ActionLink("Details", "Detail", "Order", new { @Model[i].Id }, null)
                            </div>
                            <div class="col m4 s12">
                                @Html.ActionLink("Edit", "Edit", "Order", new { id = Model[i].Id }, null)
                            </div>
                            <div class="col m4 s12">
                                @Html.ActionLink("Delete", "Delete", "Order", new { id = Model[i].Id }, null)
                            </div>
                        </div>
  
                    </div>
                </div>
            </div>
          }

        </div>

        <hr />
        <h5>Your joinings</h5>

        <table class="responsive-table">
            <thead>
                <tr>
                    <th data-field="date">Date</th>
                    <th data-field="address">Address</th>
                    <th data-field="link">Links</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var order in Model)
                {
                <tr>
                    <td>Date</td>
                    <td>Address</td>
                    <td><a href="#">Details...</a></td>
                </tr>
                }
            </tbody>
        </table>
        <hr />
        <h5>@Html.ActionLink("Create an order...", "Create", "Order")</h5>
    </div>
</div>