@model Let_s_Eat_Bee_Project.Models.DBDump

<div class="block-order">
    <div class="container info-block" id="moder-container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs ">
                    <li class="tab col s3"><a href="#users">Users</a></li>
                    <li class="tab col s3"><a href="#orders">Orders</a></li>
                </ul>
            </div>
            <div id="users" class="row">
                <div class="col s12 tabs-vertical">
                    <br>
                    <div class="col s3">
                        <ul class="tabs-left">
                            @foreach (Let_s_Eat_Bee_Project.Models.AbstractUser user in Model.AuthUsers) {
                                <!--<li>@Html.ActionLink(@user.FirstName + " " + @user.LastName, "", new { id = @user.Id }, new { @class = "tab tab-vertical" })</li>-->
                                <li class="tab tab-vertical">
                                    <a href="#" onclick="FetchUser(@user.Id)">@user.FirstName @user.LastName</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col s9">
                        <!--основная часть табов-->
                        <!--каждый таб - форма для отправки изменений, в ней нужно вставить текущие значения юзверя в поля value-->
                        <div id="UserDetail" class="tab-content">
                            @using (Html.BeginForm("UserEdit","Moderator",FormMethod.Post))
                          {
                              <!--Форма заполнится Аяксом, все схвачено-->
                                <div id="UserInfo"></div><br />
                                <center>
                                    <div class="row">
                                        <div class="button">
                                            <button type="submit" class="waves-effect waves-light btn #4a148c purple darken-3">Save changes</button>
                                        </div>
                                    </div>
                                </center>
                          }
                        </div>
                    </div>
                </div>
            </div>
            <div id="orders" class="row">
                <div class="col s12 tabs-vertical">
                    <br>
                    <div class="col s3">
                        <ul class="tabs-left">
                            <!--ссылки на основную часть табов ордера, вставить имя создателя и дату-->
                            @foreach (Let_s_Eat_Bee_Project.Models.Order order in Model.Orders)
                            {
                                <li class="tab tab-vertical">
                                    <a href="#" onclick="FetchOrder(@order.Id)">@order.Id @order.CreationDateTime</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col s9">
                        <div id="OrderInfo" class="tab-content"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    function FetchUser(id) {
        @*$.ajax({
            url: '/Scripts/materialize.js',
            success: function () {
                console.log('user');
            }
        });*@
        $.ajax({
            type: "POST",
            url: '@Url.Action("UserDetail")/' + id,
            success: function (data) {
                $('#UserInfo').html(data);
            }
        });

    }
    $(document).ready(FetchUser(@Model.AuthUsers.FirstOrDefault().Id));

    function FetchOrder(id) {
        @*$.ajax({
            url: '/Scripts/materialize.js',
            success:function() {
                console.log('order');
            }
        });*@
        $.ajax({
            type: "POST",
            url: '@Url.Action("OrderDetail")/' + id,
            success: function (data) {
                $('#OrderInfo').html(data);
            }
        });

    }
    $(document).ready(FetchOrder(@Model.Orders.FirstOrDefault().Id));

</script>