@model Let_s_Eat_Bee_Project.Models.AbstractUser

<div class="block-order">
    <div class="container info-block" id="moder-container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs ">
                    <li class="tab col s3"><a href="#users">Users</a></li>
                    <li class="tab col s3"><a href="#orders">Orders</a></li>
                </ul>
            </div>
            <div id="users" class="row">
                <div class="col s12 tabs-vertical">
                    <br>
                    <div class="col s3">
                        <ul class="tabs-left">
                            <!--ссылки на основную часть табов юзеров, вставить имя пользователя + сделать объекты на которые ссылаешься(на страничке основная часть табов)-->
                            <li class="tab tab-vertical"><a href="#Uid1">UName1</a></li>
                            <li class="tab tab-vertical"><a href="#Uid2">UName2</a></li>
                            <li class="tab tab-vertical"><a href="#Uid3">UName3</a></li>

                        </ul>
                    </div>
                    <div class="col s9">
                        <!--основная часть табов-->
                        <!--каждый таб - форма для отправки изменений, в ней нужно вставить текущие значения юзверя в поля value-->
                        <div id="Uid1" class="tab-content">
                            <form>
                                <div class="input-field col s6">
                                    <input value="Alvin" id="first_name" name="first_name" type="text">
                                    <label class="active moder-label" for="first_name">First Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input value="Alvin" id="last_name" name="last_name" type="text">
                                    <label class="active moder-label" for="last_name">Last Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input value="ZZZ" id="organization" name="organization" type="text">
                                    <label class="active moder-label" for="organization">Organization</label>
                                </div>
                                <!--айди юзера для передачи при отправке-->
                                <input type="hidden" name="user_id" value="470124">
                                <br />
                                <center>
                                    <div class="row">
                                        <div class="button">
                                            <button type="submit" class="waves-effect waves-light btn #4a148c purple darken-3">Save changes</button>
                                        </div>
                                    </div>
                                </center>
                            </form>
                        </div>
                        <div id="Uid2" class="tab-content">
                            <form>
                                <div class="input-field col s6">
                                    <input value="Alvin" id="first_name" name="first_name" type="text">
                                    <label class="active moder-label" for="first_name">First Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input value="Alvin" id="last_name" name="last_name" type="text">
                                    <label class="active moder-label" for="last_name">Last Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input value="ZZZ" id="organization" name="organization" type="text">
                                    <label class="active moder-label" for="organization">Organization</label>
                                </div>
                                <!--айди юзера для передачи при отправке-->
                                <input type="hidden" name="user_id" value="470124">
                                <br />
                                <center>
                                    <div class="row">
                                        <div class="button">
                                            <button type="submit" class="waves-effect waves-light btn #4a148c purple darken-3">Save changes</button>
                                        </div>
                                    </div>
                                </center>
                            </form>
                        </div>
                        <div id="Uid3" class="tab-content">
                            <form>
                                <div class="input-field col s6">
                                    <input value="Alvin" id="first_name" name="first_name" type="text">
                                    <label class="active moder-label" for="first_name">First Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input value="Alvin" id="last_name" name="last_name" type="text">
                                    <label class="active moder-label" for="last_name">Last Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input value="ZZZ" id="organization" name="organization" type="text">
                                    <label class="active moder-label" for="organization">Organization</label>
                                </div>
                                <!--айди юзера для передачи при отправке-->
                                <input type="hidden" name="user_id" value="470124">
                                <br />
                                <center>
                                    <div class="row">
                                        <div class="button">
                                            <button type="submit" class="waves-effect waves-light btn #4a148c purple darken-3">Save changes</button>
                                        </div>
                                    </div>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="orders" class="row">
                <div class="col s12 tabs-vertical">
                    <br>
                    <div class="col s3">
                        <ul class="tabs-left">
                            <!--ссылки на основную часть табов ордера, вставить имя создателя и дату-->
                            <li class="tab tab-vertical"><a href="#Orderid1">UserName on 11.11.11</a></li>
                            <li class="tab tab-vertical"><a href="#Orderid2">UserName on 11.11.11</a></li>
                        </ul>
                    </div>
                    <div class="col s9">
                        <div id="Orderid1" class="tab-content">
                            <div class="row">
                                <div class="col s7">
                                    <ul class="collection with-header">
                                        <li class="collection-header order-view-link">
                                            <h6>People who joined this order:</h6>
                                        </li>
                                        <li>
                                            <ul class="collapsible no-margins no-borders" data-collapsible="accordion">
                                                <!--элементы списка - джоининги-->
                                                <li>
                                                    <!--в хэдер вставить имя того кто присоединяется-->
                                                    <div class="collapsible-header">UName1</div>
                                                    <div class="collapsible-body order-collapsible">
                                                        <!--в Р вставить текст джоининга-->
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                        <!--в id вставить айди джоининга, как в orders/join-->
                                                        <a class="waves-effect waves-light btn-flat" href="#edit-joining">Edit</a>
                                                        <!--ссылка на удаление джоининга, передать айди-->
                                                        <a class="waves-effect waves-light btn-flat" href="#">Delete</a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="collapsible-header">UName2</div>
                                                    <div class="collapsible-body order-collapsible">
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                        <a class="waves-effect waves-light btn-flat" href="#edit-joining">Edit</a>
                                                        <a class="waves-effect waves-light btn-flat" href="#">Delete</a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="collapsible-header">UName3</div>
                                                    <div class="collapsible-body order-collapsible">
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                        <a class="waves-effect waves-light btn-flat" href="#edit-joining">Edit</a>
                                                        <a class="waves-effect waves-light btn-flat" href="#">Delete</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <form class="col s5">
                                    <div class="input-field col s12">
                                        <!--в value вставить адрес-->
                                        <input value="ZzZ" id="address" name="address" type="text">
                                        <label class="active moder-label" for="Address">Address</label>
                                    </div>
                                    <input type="hidden" name="order_id" value="470124">
                                    <!--скопировано с order/create, но должно работать, т.к. фронтенд идентичен-->
                                    <!--единственное - в placeholder вставить текущие значения из базы-->
                                    <div class="input-field col s12">
                                        <label for="datepicker">Date</label>
                                        @Html.EditorFor(model =>, new { htmlAttributes = new { @type = "text", @id = "datepicker", @class = "datepicker", @required = "true" } }) @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="input-field col s12">
                                        <label for="timepicker">Time</label>
                                        @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @id = "timepicker", @type = "text", @placeholder = "HH:MM", @required = "true" } }) @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
                                    </div>
                                    <br />
                                    <center>
                                        <div class="row">
                                            <div class="button">
                                                <button type="submit" class="waves-effect waves-light btn #4a148c purple darken-3">Save changes</button>
                                            </div>
                                        </div>
                                    </center>
                                </form>
                            </div>
                        </div>
                        <div id="Orderid2" class="tab-content">
                            <div class="row">
                                <div class="col s7">
                                    <ul class="collection with-header">
                                        <li class="collection-header order-view-link">
                                            <h6>People who joined this order:</h6>
                                        </li>
                                        <li>
                                            <ul class="collapsible no-margins no-borders" data-collapsible="accordion">
                                                <li>
                                                    <div class="collapsible-header">UName1</div>
                                                    <div class="collapsible-body order-collapsible">
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                        <a class="waves-effect waves-light btn-flat" href="#edit-joining">Edit</a>
                                                        <a class="waves-effect waves-light btn-flat" href="#">Delete</a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="collapsible-header">UName2</div>
                                                    <div class="collapsible-body order-collapsible">
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                        <a class="waves-effect waves-light btn-flat" href="#edit-joining">Edit</a>
                                                        <a class="waves-effect waves-light btn-flat" href="#">Delete</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <form class="col s5">
                                    <div class="input-field col s12">
                                        <input value="ZzZ" id="address" name="address" type="text">
                                        <label class="active moder-label" for="Address">Address</label>
                                    </div>
                                    <input type="hidden" name="order_id" value="470124">
                                    <!--скопировано с order/create, но должно работать, т.к. фронтенд идентичен-->
                                    <div class="input-field col s12">
                                        <label for="datepicker">Date</label>
                                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @type = "text", @id = "datepicker", @class = "datepicker", @required = "true" } }) @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="input-field col s12">
                                        <label for="timepicker">Time</label>
                                        @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @id = "timepicker", @type = "text", @placeholder = "HH:MM", @required = "true" } }) @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
                                    </div>
                                    <br />
                                    <center>
                                        <div class="row">
                                            <div class="button">
                                                <button type="submit" class="waves-effect waves-light btn #4a148c purple darken-3">Save changes</button>
                                            </div>
                                        </div>
                                    </center>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Structure -->
        <div id="edit-joining" class="modal">
            <form>
                <div class="modal-content">
                    <h4>Edit joining text</h4>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="text_of_join">Text</label>
                            <input type="text" id="text_of_join" name="Text" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button id="join" class="modal-action modal-close waves-effect waves-green btn-flat">Change</button>
                    </center>
                </div>
            </form>
        </div>
        <!--end_modal-->
    </div>
</div>