@model Let_s_Eat_Bee_Project.Models.Order
<div class="block-order">
    <br>
    <div class="container order-view">
        <div class="row">
            <div class="col s10 offset-s1 ">
                <!--тут выводится инфа о заказе-->
                <h4>
                    @Html.NameFor(model=>model.Address):@Html.DisplayFor(model => model.Address)<br />
                    Creation date and time:@Html.DisplayFor(model=>model.CreationDateTime)
                </h4>
                <!--ссылка на создателя-->
                <p>Author:@Html.DisplayFor(model=>model.Creator.FirstName)
                  @Html.DisplayFor(model => model.Creator.LastName)
                </p>
                <br>
                <div class="col m4 s12">
                    <ul class="collection with-header">
                        <li class="collection-header order-view-link">
                            <h6>People who joined this order:</h6>
                        </li>
                        <!--ссылки на присоединенных-->
                        @foreach (Let_s_Eat_Bee_Project.Models.Joining joining in Model.Joinings)
                        {
                            <li class="order-view-link">
                            @Html.DisplayFor(model=>joining.User.FirstName) @Html.DisplayFor(model => joining.User.LastName)
                            <br />
                            @Html.DisplayFor(model => joining.Text)
                            <br />
                            </li>
                        }

                    </ul>
                    <a href="#join-order">Join</a>
                </div>
                <div class="col m8 s12">
                    <div class="chat-panel">
                        <div class="chat-heading">Chat</div>
                        <div class="chat-body">
                            <!--список сообщений в чатике заказа-->
                            <ul class="msg-list collection">
                                <!--в каждом сообщении имя автора, время, текст-->
                                <li class="collection-item msg-list ">
                                    <span class="msg-name">User2</span>
                                    <span class="msg-time">14:00</span>
                                    <span class="msg-txt">test1 </span>
                                </li>
                                <li class="collection-item msg-list">
                                    <span class="msg-name">User1</span>
                                    <span class="msg-time">14:00</span>
                                    <span class="msg-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo deleniti ad rem, aut ex cum ab fuga excepturi accusantium expedita porro debitis, odio aliquid unde nisi voluptatibus. Eum, veniam, deserunt! </span>
                                </li>
                                <li class="collection-item msg-list">
                                    <span class="msg-name">User3</span>
                                    <span class="msg-time">16:03</span>
                                    <span class="msg-txt">Want to go drink a beer after work ? </span>
                                </li>
                            </ul>
                        </div>
                        <div class="chat-footer">
                            <!--форма для отправки-->
                            <form action="!#" id="message_request" method="post">
                                <div class="row">
                                    <div class="input-field col s12 ">
                                        <textarea placeholder="Enter your message here" id="message" type="text" class="materialize-textarea msg-box"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <button type="submit" class="waves-effect waves-light btn #4a148c purple darken-3">
                                            Send
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="join-order" class="modal">
        @using (Html.BeginForm("Join", "Order"))
        {
            <div class="modal-content">
                <h4>Join Order</h4>
                <input type="text" id="orderId" name="OrderId" value="@Model.Id" class="hide" />
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="first_name">First Name</label>
                            <input type="text" id="first_name" name="UserFirstName" required />
                        </div>
                    </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="last_name">Last Name</label>
                                <input type="text" id="last_name" name="UserLastName" required />
                            </div>
                        </div>
                }
                <div class="row">
                    <div class="input-field col s12">
                        <label for="text_of_join">Text</label>
                        <input type="text" id="text_of_join" name="Text" required />
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <center>
                        <button id="join" class="modal-action modal-close waves-effect waves-green btn-flat">Join</button>
                    </center>
                </div>
        }
    </div>
</div>
@if (!User.Identity.IsAuthenticated)
{
    <script type="text/javascript" src="~/Scripts/validateModal.js"></script>
}