@model Let_s_Eat_Bee_Project.Models.AuthorizedUser

@{
    ViewBag.Title = "Your Account";
}
<div class="block-order">
    <div class="container">
        <h3>Your account</h3>
        <hr />
        <h5>Your orders</h5>

        <div class="row">

          @{
              DateTime now = DateTime.Now;
              List<Let_s_Eat_Bee_Project.Models.Order> myOrders = Model.Orders.Where(x => x.CompletionDateTime >= now).ToList();
              if (myOrders.Count == 0)
              {
                <div class="col s12">You have no orders</div>
              }
              for (int i = (ViewBag.Page - 1) * 6; i < myOrders.Count && i < (ViewBag.Page * 6) - 3; i++)
              {
            <div class="col s12 m4">
                <div class="card #4a148c purple darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">@myOrders[i].CompletionDateTime</span>
                        <p>Place:@myOrders[i].OrderPlace</p>
                        <p>Address: @myOrders[i].Address </p>
                        <p>Description: @myOrders[i].Joinings.First().Text</p>
                    </div>
                    <div class="card-action">
                        <div class="row no-margins">
                            <div class="col m4 s12">
                                @Html.ActionLink("Details", "Detail", "Order", new { myOrders[i].Id }, null)
                            </div>
                            <div class="col m4 s12">
                                @Html.ActionLink("Edit", "Edit", "Order", new { id = myOrders[i].Id }, null)
                            </div>
                            <div class="col m4 s12">
                                @Html.ActionLink("Delete", "Delete", "Order", new { id = myOrders[i].Id }, null)
                            </div>
                        </div>
  
                    </div>
                </div>
            </div>
                  }
              }
        </div>

        <hr />
        <h5>Your joinings</h5>

        <table class="responsive-table">
            @{
                List<Let_s_Eat_Bee_Project.Models.Joining> joinings = Model.Joinings.Where(x => x.Order.CompletionDateTime >= now).ToList();
                if (joinings.Count != 0)
                {
                    <thead>
                        <tr>
                            <th data-field="date">Date</th>
                            <th data-field="address">Address</th>
                            <th data-field="link">Links</th>
                        </tr>
                    </thead>
                }
            }
            <tbody>
                @{
                    if (joinings.Count == 0)
                    {
                        <tr><td>You have no joinings</td></tr>
                    }
                    else
                    {
                        foreach (var joining in joinings)
                        {
                            <tr>
                                <td>@joining.Order.CompletionDateTime</td>
                                <td>@joining.Order.Address</td>
                                <td>@Html.ActionLink("Details", "Detail", "Order", new { joining.Order.Id }, null)</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        <hr />
        <h5>@Html.ActionLink("Create an order...", "Create", "Order")</h5>
    </div>
</div>