<!DOCTYPE html>
<html>
<!--БАШКА САЙТА-->
<head>
    <!--Import Google Icon Font-->
    <!--пути - изменить, если потребуется-->
    <link href="~/Content/materialize.css" rel="stylesheet" media="screen,projection">
    <link href="~/Content//icon.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Import jQuery before materialize.js-->
    <!--пути - изменить, если потребуется-->
    <script type="text/javascript" src="~/Scripts/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="~/Scripts/materialize.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- КУСОК С НАВИГАЦИЕЙ-->
    <!--НИЖЕ ДВА УЛА - ВЫПАДАЮЩИЕ СПИСКИ ДЛЯ ОСНОВНОЙ И МОБИЛЬНОЙ ВЕРСИЙ, ОТЛИЧАЕТСЯ ТОЛЬКО АЙДИ-->
    <ul id="dropdown1" class="dropdown-content">
        @if (!User.Identity.IsAuthenticated)
        {
            <li>@Html.ActionLink("Sign in", "SignIn", "Account")</li>
            <li>@Html.ActionLink("Sign up", "SignUp", "Account")</li>
        }
        else
        {
            <li>@Html.ActionLink("Profile", "UserProfile", "Account")</li>
            <li>@Html.ActionLink("Sign out", "SignOut", "Account")</li>
            <li>@Html.ActionLink("Moderator page (TEMPORARY)", "Index", "Moderator")</li>
        }
        <li class="divider"></li>
        <li>@Html.ActionLink("Create an order", "Create", "Order")</li>
        <li>@Html.ActionLink("Orders", "Index", "Order")</li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
        @if (!User.Identity.IsAuthenticated)
        {
            <li>@Html.ActionLink("Sign in", "SignIn", "Account")</li>
            <li>@Html.ActionLink("Sign up", "SignUp", "Account")</li>
        }
        else
        {
            <li>@Html.ActionLink("Profile", "UserProfile", "Account")</li>
            <li>@Html.ActionLink("Sign out", "SignOut", "Account")</li>        
        }
        <li class="divider"></li>
        <li>@Html.ActionLink("Create an order", "Create", "Order")</li>
        <li>@Html.ActionLink("Orders", "Index", "Order")</li>
    </ul>

    <div class="navbar-fixed">
        <!--СОБСТВЕННО, НАВБАР-->
        <nav class="#4a148c purple darken-3">
            <div class="nav-wrapper">
                @Html.ActionLink("Let`s Eat Bee", "Index", "Home", new { @class = "brand-logo", @href = "/" })
                <a href="!#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <!--ССЫЛОЧКИ ДЛЯ ОСНОВНОЙ ВЕРСИИ-->
                <ul class="right hide-on-med-and-down">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>
                        <a class="dropdown-button" href="#" data-activates="dropdown1">
                            Hello @User.Identity.Name
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <!--ССЫЛОЧКИ ДЛЯ МОБИЛЬНОЙ ВЕРСИИ-->
                <ul class="side-nav" id="mobile-demo">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>
                        <a class="dropdown-button" href="#" data-activates="dropdown2">
                            User<i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </nav>
    </div>
    <!--КОНЕЦ КУСКА С НАВИГАЦИЕЙ-->
    @RenderBody()
    <footer class="page-footer #4a148c purple darken-3">
        <div class="footer-copyright">
            <div class="container">
                © 2016 Bees Workgroup
                <a class="grey-text text-lighten-4 right" href="#">More Links</a>
            </div>
        </div>
    </footer>
    <!--Scripts.Render("~/bundles/jquery")
     Scripts.Render("~/bundles/materialize")
     RenderSection("scripts", required: false)-->
</body>
</html>
